:root {
  --primary: #c6a15b;
  --dark: #0f0f0f;
}

body {
  background: var(--dark);
  color: white;
}

.section-padding {
  padding: 100px 20px;
}

.ft a,
.ft a:link,
.ft a:visited,
.ft a:hover,
.ft a:active {
  text-decoration: none !important;
  color: inherit;
}